/* Share buttons */
.sharebuttons {
  margin: 0 auto 0 auto;
}

.sharebuttons ul {
  margin: 10px 0 0 0;
  text-align: right;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;
}

.sharebuttons ul li svg {
  width: 25px;
  height: 25px;
}

.sharebuttons .reddit svg {
  fill: #f2f2f2;
}

.sharebuttons .twitter svg {
  fill: #f2f2f2;
}

.sharebuttons .linkedin svg {
  fill: #f2f2f2;
}

.sharebuttons .tableau_logo svg {
  fill: #f2f2f2;
}

